[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
wsgi-request-logger = "*"
bjoern = "*"
pypette-web = "==0.0.2"

[dev-packages]
webtest = "*"
build = "*"
twine = "*"
setuptools-scm = "*"
pytest = "*"
pytest-cov = "*"
ruff = "*"
